___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

# WELCOME!

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

The project consists of 3 parts:
* First part is related with 'data cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, Dropping useless columns.
* Second part is related with 'filling data'. It deals with Missing Values. Categorical to numeric transformation is done.
* Third part is related with 'handling outliers of data' via Visualisation libraries. Some insights are extracted.

# PART- 1 `( Data Cleaning )`

https://www.youtube.com/watch?v=aBygOp17doQ

https://www.youtube.com/watch?v=FVECTpahzCQ

https://blog.softhints.com/pandas-typeerror-unhashable-type-list-dict/

In [1]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import re

In [467]:
import pandas as pd
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 60)
pd.set_option('display.width', 5)
pd.set_option('display.max_colwidth', 30)

typ : {'frame', 'series'}, default 'frame'
    The type of object to recover.

dtype : bool or dict, default None
    If True, infer dtypes; if a dict of column to dtype, then use those;
    if False, then don't infer dtypes at all, applies only to the data.

In [2]:
df = pd.read_json('scout_car.json', lines=True, orient='records', convert_axes=True, dtype=True,convert_dates=True)
df

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,...,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,...,[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,...,"[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,...,"[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200CV EDC Executive 4Control,Van,39950,VAT deductible,- km,-/-,None,NaN,...,[\nVettura visionabile nella sede in Via Roma ...,NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15915,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"TCe 225 EDC GPF LIM Deluxe Pano,RFK",Van,39885,VAT deductible,"9,900 km",01/2019,1 previous owner,NaN,...,"[\nDach: Panorama-Glas-Schiebedach, Lackierung...",NaN,[\n7\n],[\nGermany\n],NaN,NaN,"[[], [], []]",\nin 5 days from ordering\n,NaN,NaN
15916,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200 EDC Initiale Paris Leder LED Navi...,Van,39875,VAT deductible,15 km,03/2019,1 previous owner,NaN,...,"[\n, Getriebe:, Automatik, Technik:, Bordcom...",NaN,[\n6\n],[\nAustria\n],NaN,NaN,NaN,\nin 120 days from ordering\n,NaN,NaN
15917,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...",Van,39700,VAT deductible,10 km,06/2019,None,NaN,...,"[\nDEK:[2691331], Renault Espace Blue dCi 200C...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15918,https://www.autoscout24.com//offers/renault-es...,Renault Espace,INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX,Van,40999,VAT deductible,- km,01/2019,1 previous owner,NaN,...,"[\n, Sicherheit Airbags:, , Seitenairbag, , ...",[\n4 (Green)\n],NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [164]:
spec_chars = ["!",'"',"#","%","&","'","(",")"," ",
              "*","+",",","-","/",":",";","<",
              "=",">","?","@","[","\\","]","^",
              "`","{","|","}","~","–","\n","."]

for char in spec_chars:
    df.columns = df.columns.str.replace(char, '_')

<ipython-input-164-8f1b537feb51>:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace(char, '_')

In [165]:
df.columns = df.columns.str.lower()

In [166]:
df.rename(columns={"_comfort___convenience_":"comfort_convenience","_entertainment___media_":"entertainment_media","_extras_":"extras","_safety___security_":"safety_security","nr__of_doors":"nr_of_doors","nr__of_seats":"nr_of_seats"}, inplace=True)

In [12]:
df.columns

Index(['url',
       'make_model',
       'short_description',
       'body_type',
       'price',
       'vat',
       'km',
       'registration',
       'prev_owner',
       'kw',
       'hp',
       'type',
       'previous_owners',
       'next_inspection',
       'inspection_new',
       'warranty',
       'full_service',
       'non_smoking_vehicle',
       'null',
       'make',
       'model',
       'offer_number',
       'first_registration',
       'body_color',
       'paint_type',
       'body_color_original',
       'upholstery',
       'body',
       'nr_of_doors',
       'nr_of_seats',
       'model_code',
       'gearing_type',
       'displacement',
       'cylinders',
       'weight',
       'drive_chain',
       'fuel',
       'consumption',
       'co2_emission',
       'emission_class',
       'comfort_convenience',
       'entertainment_media',
       'extras',
       'safety_security',
       'description',
       'emission_label',
       'gears',
       'country_version',
       'electricity_consumption',
       'last_service_date',
       'other_fuel_types',
       'availability',
       'last_timing_belt_service_date',
       'available_from'],
      dtype='object')

df.rename(columns=lambda x: re.sub('(\s|/)','_', x), inplace=True).str.lower()

df.columns

In [312]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kw                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  type                           15917 non-null  object
 12  previous_owners                9279 non-null   object
 13  next_inspection                3535 non-null   object
 14  inspection_new                 3932 non-null   object
 15  warranty                       10499 non-null  object
 16  full_service                   8215 non-null   object
 17  non_smoking_vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  make                           15919 non-null  object
 20  model                          15919 non-null  object
 21  offer_number                   12744 non-null  object
 22  first_registration             14322 non-null  object
 23  body_color                     15322 non-null  object
 24  paint_type                     10147 non-null  object
 25  body_color_original            12160 non-null  object
 26  upholstery                     12199 non-null  object
 27  body                           15859 non-null  object
 28  nr_of_doors                    15707 non-null  object
 29  nr_of_seats                    14942 non-null  object
 30  model_code                     4978 non-null   object
 31  gearing_type                   15919 non-null  object
 32  displacement                   15423 non-null  object
 33  cylinders                      10239 non-null  object
 34  weight                         8945 non-null   object
 35  drive_chain                    9061 non-null   object
 36  fuel                           15919 non-null  object
 37  consumption                    14013 non-null  object
 38  co2_emission                   14111 non-null  object
 39  emission_class                 12898 non-null  object
 40  comfort_convenience            14999 non-null  object
 41  entertainment_media            14545 non-null  object
 42  extras                         12957 non-null  object
 43  safety_security                14937 non-null  object
 44  description                    15919 non-null  object
 45  emission_label                 3985 non-null   object
 46  gears                          11207 non-null  object
 47  country_version                7586 non-null   object
 48  electricity_consumption        137 non-null    object
 49  last_service_date              566 non-null    object
 50  other_fuel_types               880 non-null    object
 51  availability                   635 non-null    object
 52  last_timing_belt_service_date  16 non-null     object
 53  available_from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [465]:
df.shape

(15919, 54)

In [484]:
df['make_model'].value_counts()   # tam veri. mark ve model olarak ikiye ayırdık.

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [485]:
df['mark'] = df['make_model'].astype('str').str.split(' ', expand=True)[0]

In [486]:
df.mark.value_counts()

Opel       7343
Audi       5712
Renault    2864
Name: mark, dtype: int64

In [487]:
df['model'] = df['make_model'].astype('str').str.split(' ', expand=True)[1]

In [488]:
df.model.value_counts()

A3          3097
A1          2614
Insignia    2598
Astra       2526
Corsa       2219
Clio        1839
Espace       991
Duster        34
A2             1
Name: model, dtype: int64

In [474]:
df['short_description'].value_counts(dropna=False).head(50)   # 46 tane eksik veri var. Hacmi aldık buradan.

SPB 1.6 TDI 116 CV S tronic Sport                    64
NaN                                                  46
1.4 66kW (90CV) Selective                            40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH                38
SPB 30 TFSI S tronic Admired                         35
SPB 30 TDI S tronic Business                         35
Sporter 1.5 dCi 90CV Zen , NAVI - AZIENDALE          32
dCi 75 Business Energy eco2 Euro6 55 kW (75 C        31
dCi 160CV EDC Energy Intens                          30
1.2 5 porte b-Color                                  30
SPB 1.6 TDI 116 CV Sport                             28
R.S. TROPHY ENERGY TCe 220 EDC                       28
1.2 5 porte Advance                                  28
K 1.4 Selection*Alu*FSA*Klima*ZV*                    27
1.4 TFSI Design*PDC*Sport-S*LM-Felgen*SHZ*           27
RS Sport 1.6 TCE220 Aut.*NAVI*SPORT-FWK*LED          27
1.6 TCE ENERGY INTENS *Navi*LED*Cam*Pano*            27
1.2 LIMITED *Navi*Temp*R&Go*Garantie*                27
1.4 TDI Design DKG*Navi*PDC*Alu*SHZ*                 27
K 1.4 SIDI Turbo Innovation Aut. *NAVI*              27
1.4 TFSI Attraction (125 CV)                         27
1.6 TDI Sport DSG *SHZ*Xenon*Navi*Bose*PDC*          27
1.2 TCE ENERGY INTENS Aut. *Navi*LED*                27
SPB 2.0 TDI S tronic Sport                           26
1.2 Selection                                        26
van 1.5 dci 75cv S&S E6                              24
SPB 1.6 TDI 116 CV S tronic Business                 23
SPB 30 TFSI S tronic Business                        23
Sportback 1.6 TDI Design Edition 85 kW (             22
1.4 TFSI 125 CV Attraction man 6v.                   22
1.0 TFSI                                             22
SPB 1.6 TDI S tronic Sport                           22
1.3 CDTI n-Joy 75cv S/S 5 PORTE BERLINA              21
1,0 Turbo Dir. Inj. St./St. ECOTEC 120 Jahre Edit    21
SB 30 1.0 tfsi Business 116cv s-tronic my19          21
ST 1,6 Turbo 200 Aut Kombi Innovation AHK            20
GS 1.6 CDTi 100kW Turbo D Selective                  20
1.6 CDTi 100kW S&S TURBO D Selective                 20
LIMITED TCe 75 KLIMA                                 20
1.4 T Selective 103 kW (140 CV)                      19
SPB Admired S-line s-tronic 1.6 Diesel 110CV         19
1.0 TFSI ultra Sportback                             19
sporter Zen EDC 1.5 Diesel 90CV                      19
30 TFSI                                              19
SPB Business s-tronic 1.6 Diesel 110CV               19
SPB 1.6 TDI 116 CV S tronic                          19
Sportback 1.6 TDI Design Edition S-troni             19
Sportback 1.0 TFSI Adrenalin 70 kW (95 C             19
ST Business auto 2.0 Diesel 170CV                    19
LIMITED 1.2 16V 75                                   18
Name: short_description, dtype: int64

In [489]:
df['short_description'].str.extract("(\d\d\d\d|\d.\d|\d)").value_counts()

1.6     3693
1.4     2312
3       1348
1.0     1174
1.2      880
        ...
169        1
1739       1
2.8        1
2000       1
9890       1
Length: 100, dtype: int64

In [490]:
df['short_description'].str.extract("([A-Z][A-Z][A-Z])").value_counts()

TFS    2196
CDT    2163
TDI    1574
SPB    1162
EDC     842
       ...
ITA       1
ILU       1
IIN       1
IDO       1
ZER       1
Length: 261, dtype: int64

In [491]:
df['short_description'].apply(pd.Series)

                                   0
0      Sportback 1.4 TDI S-tronic...
1                     1.8 TFSI sport
2      Sportback 1.6 TDI S tronic...
3            1.4 TDi Design S tronic
4      Sportback 1.4 TDI S-Tronic...
...                              ...
15914  Blue dCi 200CV EDC Executi...
15915  TCe 225 EDC GPF LIM Deluxe...
15916  Blue dCi 200 EDC Initiale ...
15917  Blue dCi 200CV EDC Busines...
15918  INITIALE PARIS TCe 225 EDC...

[15919 rows x 1 columns]

In [492]:
df['body_type'].value_counts(dropna=False).head(30)   # 60 eksik var. Bunlara other yazılabilir.

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [30]:
df['price'].isna().value_counts()

False    15919
Name: price, dtype: int64

In [493]:
df['price'].value_counts().head(20)

14990    154
15990    151
10990    139
15900    106
17990    102
9900      98
20900     93
22900     92
13990     92
21900     91
19900     89
14900     88
16990     86
17900     86
18900     86
16900     84
18990     81
8490      78
12990     77
21500     75
Name: price, dtype: int64

In [494]:
df['vat'].value_counts(dropna=False).head(20)  # get_dummy ile kategorik sayısala çevirelim. 4513 eksik veri var.

VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64

In [347]:
df['km'].value_counts(dropna=False).head(20)  # - olan yerine  yazdık. 1024 tane veri.

10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
100 km        139
15 km         109
5,000 km      104
20 km          61
3,000 km       58
12 km          56
8,000 km       49
45,000 km      48
25,000 km      47
10,000 km      47
30,000 km      47
1,000 km       46
18,000 km      46
19,000 km      44
35,000 km      44
Name: km, dtype: int64

In [480]:
df['km'].str.replace(r'\D+', '', regex=True).replace({'':0}).astype('int').value_counts().head(20)

# df["km"].replace(to_replace=r"\d+", value=r" ", regex=True) sadece km kalsın istersek

In [495]:
df['km'] = df['km'].str.replace(r'\D+', '', regex=True).replace({'':0}).astype('int')

In [496]:
df['km']

0        56013
1        80000
2        83450
3        73000
4        16200
         ...
15914        0
15915     9900
15916       15
15917       10
15918        0
Name: km, Length: 15919, dtype: int32

In [503]:
df['registration'].value_counts(dropna=False).head(10)  # 1597 eksik var. Buradan yıl alındı. Bundan age hesaplanacak.

-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
01/2019     541
04/2018     541
02/2018     539
03/2016     536
06/2018     532
Name: registration, dtype: int64

In [509]:
df['registration'].str.extract('(\d{4})')  #.isna().value_counts()  #(\d{2}).

          0
0      2016
1      2017
2      2016
3      2016
4      2016
...     ...
15914   NaN
15915  2019
15916  2019
15917  2019
15918  2019

[15919 rows x 1 columns]

In [511]:
df['registration'] = df['registration'].str.extract('(\d{4})')

df['registration']

0        2016
1        2017
2        2016
3        2016
4        2016
         ...
15914     NaN
15915    2019
15916    2019
15917    2019
15918    2019
Name: registration, Length: 15919, dtype: object

In [512]:
df['prev_owner'].value_counts(dropna=False).head(100)  # 6828 eksik var. None dolduralacak.

1 previous owner     8294
NaN                  6828
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [513]:
df['prev_owner'].str.replace(r'\D+', '', regex=True).replace({'':0}).astype('str').value_counts(dropna=False).head(20)

# None değerlerden dolayı astype("int") girersek hata veriyor.

1       8294
None    6828
2        778
3         17
4          2
Name: prev_owner, dtype: int64

In [514]:
df['prev_owner'] = df['prev_owner'].str.replace(r'\D+', '', regex=True).replace({'':0}).astype('str')

In [515]:
df['prev_owner']

0           2
1        None
2           1
3           1
4           1
         ...
15914    None
15915       1
15916       1
15917    None
15918       1
Name: prev_owner, Length: 15919, dtype: object

In [32]:
df['kW'].value_counts().head(100)   # silinecek.

Series([], Name: kW, dtype: int64)

In [516]:
df['hp'].value_counts(dropna=False).head(100)  # tam veriler.

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
          ...
4 kW         1
163 kW       1
195 kW       1
137 kW       1
115 kW       1
Name: hp, Length: 81, dtype: int64

In [517]:
df['hp'].str.replace(r'\D+', '', regex=True).replace({'':0}).astype('int').value_counts().head(60)

85     2542
66     2122
81     1402
100    1308
110    1112
       ...
93        3
40        2
53        2
228       2
140       2
Name: hp, Length: 60, dtype: int64

In [518]:
df['hp'] = df['hp'].str.replace(r'\D+', '', regex=True).replace({'':0}).astype('int')

df['hp']

0         66
1        141
2         85
3         66
4         66
        ...
15914    147
15915    165
15916    146
15917    147
15918    165
Name: hp, Length: 15919, dtype: int32

In [539]:
df = pd.read_json('scout_car.json', lines=True, orient='records', convert_axes=True, dtype=True,convert_dates=True)
df.head(3)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.co...,Audi A1,Sportback 1.4 TDI S-tronic...,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,66 kW,"[, Used, , Diesel (Particu...",\n2\n,"[\n06/2021\n, \n99 g CO2/k...","[\nYes\n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate F...","[[3.8 l/100 km (comb)], [4...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest...","[Bluetooth, Hands-free equ...","[Alloy wheels, Catalytic C...","[ABS, Central door lock, D...","[\n, Sicherheit:, , Deakt...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.co...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,141 kW,"[, Used, , Gasoline]",NaN,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, Red, \n]",NaN,NaN,"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],[\n0588/BCY\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,255 kg\n]",[\nfront\n],"[\n, Gasoline, \n]","[[5.6 l/100 km (comb)], [7...",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automat...","[Bluetooth, Hands-free equ...","[Alloy wheels, Sport seats...","[ABS, Central door lock, C...",[\nLangstreckenfahrzeug da...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.co...,Audi A1,Sportback 1.6 TDI S tronic...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,85 kW,"[, Used, , Diesel (Particu...",\n1\n,NaN,NaN,"[\n, \n, \n99 g CO2/km (co...",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\nAM-95365\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nmythosschwarz metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate F...","[[3.8 l/100 km (comb)], [4...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise ...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, D...","[\n, Fahrzeug-Nummer: AM-9...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [529]:
df['Type'].value_counts().head(100)   # 2 tane eksik veri var.

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[, Used, , Diesel (Particulate Filter)]                                                                                  3475
[, Used, , Diesel]                                                                                                       2516
[, Used, , Gasoline]                                                                                                     2367
[, Used, , Super 95]                                                                                                     1818
[, Pre-registered, , Super 95]                                                                                            500
                                                                                                                         ...
[, Pre-registered, , Super 95 / Super Plus 98 / Super E10 95]                                                               2
[, Employee's car, , LPG]                                                                                                   2
[, Pre-registered, , Super E10 95 / Super 95 / Super Plus 98]                                                               2
[, Used, , Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91]       2
[, New, , Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)]                                 2
Name: Type, Length: 100, dtype: int64

In [367]:
# df['Type'] = df['Type'].astype('str').str.split(', ,', expand=True)

In [368]:
# df['Type'].value_counts().head(10)

['', 'Used', '', 'Diesel (Particulate Filter)']              3475
['', 'Used', '', 'Diesel']                                   2516
['', 'Used', '', 'Gasoline']                                 2367
['', 'Used', '', 'Super 95']                                 1818
['', 'Pre-registered', '', 'Super 95']                        500
['', 'New', '', 'Super 95']                                   497
['', "Employee's car", '', 'Diesel (Particulate Filter)']     343
['', 'New', '', 'Gasoline']                                   340
['', 'Used', '', 'Super 95 / Regular/Benzine 91']             324
['', "Employee's car", '', 'Super 95']                        264
Name: Type, dtype: int64

In [342]:
# [df['type'][i][0] for i in range(len(df['type']))]

['[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 ...]

In [369]:
# df["vehicle_type"] = df['Type'].str.split(',', expand=True)[1]

In [372]:
# df["vehicle_type"].str.replace(r'\W+', ' ', regex=True).replace({'':0}).value_counts(dropna=False).head(30)

 Used               11096
 New                 1650
 Pre registered      1364
 Employee s car      1011
 Demonstration        796
NaN                     2
Name: vehicle_type, dtype: int64

In [540]:
df['Type'].apply(pd.Series)[1]

0                  Used
1                  Used
2                  Used
3                  Used
4                  Used
              ...
15914               New
15915              Used
15916    Pre-registered
15917    Pre-registered
15918     Demonstration
Name: 1, Length: 15919, dtype: object

In [541]:
df['Type']= df['Type'].apply(pd.Series)[1]

In [543]:
df['Type']

0                  Used
1                  Used
2                  Used
3                  Used
4                  Used
              ...
15914               New
15915              Used
15916    Pre-registered
15917    Pre-registered
15918     Demonstration
Name: Type, Length: 15919, dtype: object

In [542]:
df['Type'].value_counts()

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
Name: Type, dtype: int64

In [544]:
df["Previous Owners"].value_counts(dropna=False).head(100)   # 6640 eksik. Burada 0 olanlar var. yukarıdaki prev_owner göre daha düşük. Karşılaştıralım.

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

\n1\n                                                                                      8101
NaN                                                                                        6640
\n2\n                                                                                       766
\n0\n                                                                                       163
\n3\n                                                                                        17
                                                                                           ...
[\n1\n, \n, 5.9 l/100 km (comb), \n, 7.4 l/100 km (city), \n, 5 l/100 km (country), \n]       1
[\n1\n, \n137 g CO2/km (comb)\n]                                                              1
[\n2\n, \n127 g CO2/km (comb)\n]                                                              1
[\n1\n, \n159 g CO2/km (comb)\n]                                                              1
[\n0\n, \n117 g CO2/km (comb)\n]                                                              1
Name: Previous Owners, Length: 100, dtype: int64

In [374]:
df["Previous Owners"] = [item[0] if type(item)==list else item for item in df["Previous Owners"]]

df["Previous Owners"].value_counts().head(100)

\n1\n    8294
\n2\n     778
\n0\n     188
\n3\n      17
\n4\n       2
Name: Previous Owners, dtype: int64

In [545]:
df["Previous Owners"].str.extract('(\d)').value_counts()    # prev_owner ile aynı buradaki list işlemi var.

1    8101
2     766
0     163
3      17
4       2
dtype: int64

In [546]:
df["Previous Owners"] = df["Previous Owners"].str.extract('(\d)')

In [547]:
df["Previous Owners"]

0          2
1        NaN
2          1
3          1
4          1
        ...
15914    NaN
15915    NaN
15916    NaN
15917    NaN
15918      1
Name: Previous Owners, Length: 15919, dtype: object

In [549]:
df['Next Inspection'].value_counts().head(100)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

\n04/2022\n                               62
\n03/2021\n                               38
\n03/2022\n                               36
\n06/2021\n                               34
\n01/2022\n                               32
                                          ..
\n08/2020\n                                6
[\n05/2022\n, \n133 g CO2/km (comb)\n]     6
\n09/2020\n                                6
[\n06/2021\n, \n145 g CO2/km (comb)\n]     6
[\n06/2021\n, \n150 g CO2/km (comb)\n]     6
Name: Next Inspection, Length: 100, dtype: int64

In [ ]:
#print("EmailMatches:", len(re.findall("[\w._%+-]{1,20}@[\w.-]{2,20}.[A-Za-z]{2,3}", email)))

In [96]:
df['Next Inspection'] = [item[0] if type(item)==list else item for item in df['Next Inspection']]

df['Next Inspection']

0        \n06/2021\n
1                NaN
2                NaN
3                NaN
4                NaN
            ...
15914            NaN
15915    \n01/2022\n
15916            NaN
15917            NaN
15918            NaN
Name: next_inspection, Length: 15919, dtype: object

In [99]:
# df['Next Inspection'].str.extract('(\d{2})/(\d{4})').isna().value_counts()  #12384 tane eksik var. Doldurulması gerekir.

0      1
True   True     12384
False  False     3535
dtype: int64

In [550]:
df['Next Inspection'] = df['Next Inspection'].str.extract('(\d{4})')

In [552]:
df['Next Inspection'].value_counts()

2022    205
2021    200
2020    137
2019    102
2023     42
2018     12
2017      6
2016      3
2024      1
1999      1
1955      1
Name: Next Inspection, dtype: int64

In [11]:
df = pd.read_json('scout_car.json', lines=True, orient='records', convert_axes=True, dtype=True,convert_dates=True)
df.head(3)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,...,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,...,[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [553]:
df['Inspection new'].value_counts(dropna=False).head(100)  #11987 eksik var. Bu değerler No ile doldurulabilir.

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                            11987
[\nYes\n, \nEuro 6\n]                                                                            523
\nYes\n                                                                                          362
[\nYes\n, \n102 g CO2/km (comb)\n]                                                               174
[\nYes\n, \n4 (Green)\n]                                                                         166
                                                                                               ...
[\nYes\n, \n, 4.4 l/100 km (comb), \n, 5.2 l/100 km (city), \n, 3.9 l/100 km (country), \n]        4
[\nYes\n, \n186 g CO2/km (comb)\n]                                                                 4
[\nYes\n, \n, 5.8 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.9 l/100 km (country), \n]        4
[\nYes\n, \n, 5.1 l/100 km (comb), \n, 6.3 l/100 km (city), \n, 4.3 l/100 km (country), \n]        4
[\nYes\n, \n, 6.6 l/100 km (comb), \n, 8.2 l/100 km (city), \n, 5.7 l/100 km (country), \n]        4
Name: Inspection new, Length: 100, dtype: int64

In [386]:
df['Inspection new'] = [item[0] if type(item)==list else item for item in df['Inspection new']]

df['Inspection new'].value_counts().head(100)

\nYes\n    3932
Name: Inspection new, dtype: int64

In [388]:
df['Inspection new'].str.extract('(\w+)').value_counts()

Yes    3932
dtype: int64

In [3]:
df['Inspection new'].apply(pd.Series)

             0                        1    2    3    4    5    6    7
0      \nYes\n               \nEuro 6\n  NaN  NaN  NaN  NaN  NaN  NaN
1          NaN                      NaN  NaN  NaN  NaN  NaN  NaN  NaN
2          NaN                      NaN  NaN  NaN  NaN  NaN  NaN  NaN
3          NaN                      NaN  NaN  NaN  NaN  NaN  NaN  NaN
4      \nYes\n  \n109 g CO2/km (comb)\n  NaN  NaN  NaN  NaN  NaN  NaN
...        ...                      ...  ...  ...  ...  ...  ...  ...
15914      NaN                      NaN  NaN  NaN  NaN  NaN  NaN  NaN
15915      NaN                      NaN  NaN  NaN  NaN  NaN  NaN  NaN
15916  \nYes\n         \nEuro 6d-TEMP\n  NaN  NaN  NaN  NaN  NaN  NaN
15917      NaN                      NaN  NaN  NaN  NaN  NaN  NaN  NaN
15918  \nYes\n  \n153 g CO2/km (comb)\n  NaN  NaN  NaN  NaN  NaN  NaN

[15919 rows x 8 columns]

In [4]:
df['Inspection new'].apply(pd.Series)[0].str.extract("(\w+)")

         0
0      Yes
1      NaN
2      NaN
3      NaN
4      Yes
...    ...
15914  NaN
15915  NaN
15916  Yes
15917  NaN
15918  Yes

[15919 rows x 1 columns]

In [5]:
df['Inspection new'] = df['Inspection new'].apply(pd.Series)[0].str.extract("(\w+)")

In [12]:
df['Warranty'] #.value_counts(dropna=False)  # garanti sürelerini ay olarak aldık. 5645+5420 eksik değer var. Boş olanlar 0 olarak doldurulabilir.

0                 [\n, \n, \n4 (Green)\n]
1                                     NaN
2        [\n, \n, \n99 g CO2/km (comb)\n]
3                                     NaN
4                    [\n, \n, \nEuro 6\n]
                       ...
15914                       \n24 months\n
15915                [\n, \n, \nEuro 6\n]
15916             [\n, \n, \n4 (Green)\n]
15917                                  \n
15918                                 NaN
Name: Warranty, Length: 15919, dtype: object

In [13]:
df['Warranty'] = [item[0] if type(item)==list else item for item in df['Warranty']]

df['Warranty']

0                   \n
1                  NaN
2                   \n
3                  NaN
4                   \n
             ...
15914    \n24 months\n
15915               \n
15916               \n
15917               \n
15918              NaN
Name: Warranty, Length: 15919, dtype: object

In [14]:
df['Warranty'] = df['Warranty'].str.extract('(\d{1,2})') #.value_counts().head(100)    #.isna().value_counts() #.(\w+)

In [15]:
df['Warranty']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
15914     24
15915    NaN
15916    NaN
15917    NaN
15918    NaN
Name: Warranty, Length: 15919, dtype: object

In [420]:
df = pd.read_json('scout_car.json', lines=True, orient='records', convert_axes=True, dtype=True,convert_dates=True)

In [421]:
df['Full Service'].value_counts().head(100)   # düşülecek.

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, \n, \n4 (Green)\n]                                                                       2235
[\n, \n, \nEuro 6\n]                                                                          2097
[\n, \n]                                                                                      1702
[\n, \n, \nEuro 6d-TEMP\n]                                                                     399
\n                                                                                             283
                                                                                              ...
[\n, \n, \n, 5.9 l/100 km (comb), \n, 7.6 l/100 km (city), \n, 5.1 l/100 km (country), \n]       1
[\n, \n, \nEuro 4\n]                                                                             1
[\n, \n, \n, 4.6 l/100 km (comb), \n, 5.8 l/100 km (city), \n, 3.9 l/100 km (country), \n]       1
[\n, \n, \n, 6 l/100 km (comb), \n, 8 l/100 km (city), \n, 4.9 l/100 km (country), \n]           1
[\n, \n, \n, 5.7 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.9 l/100 km (country), \n]       1
Name: Full Service, Length: 100, dtype: int64

In [417]:
df['Full Service']= [item[0] if type(item)==list else item for item in df['Full Service']]

df['Full Service'].str.split("\n,")

#df['Full Service'].str.extract("(\s+)").value_counts()

    # buradan consumption değerleri alınabilir.

0        [\n]
1         NaN
2         NaN
3        [\n]
4        [\n]
         ...
15914     NaN
15915     NaN
15916    [\n]
15917     NaN
15918     NaN
Name: Full Service, Length: 15919, dtype: object

In [452]:
df['Full Service'].apply(pd.Series)

,0,1,2,3,4,5,6,7,8
0,\n,\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,\n,\n,\n99 g CO2/km (comb)\n,NaN,NaN,NaN,NaN,NaN,NaN
4,\n,\n,\n4 (Green)\n,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
15914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15916,\n,\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data = [['Green', 'Rectangle\r\nTriangle\r\nOctangle', 10], ['Blue', 'Rectangle\r\nTriangle', 15]]   
df = pd.DataFrame(data, columns = ['Color', 'Shape', 'Price'])
new_df = pd.DataFrame(columns = ['Color', 'Shape', 'Price'])

for index, row in df.iterrows():
    split = row['Shape'].split('\r\n')
    for shape in split:
        new_df = new_df.append(pd.DataFrame({'Color':[row['Color']], 'Shape':[shape], 'Price':[row['Price']]}))

new_df = new_df.reset_index(drop=True)
print(new_df)

In [144]:
df['non_smoking_vehicle'].value_counts().head(100)   # düşülecek.

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, \n]                             3647
[\n, \n, \n4 (Green)\n]              1240
[\n, \n, \nEuro 6\n]                 1127
[\n, \n, \nEuro 6d-TEMP\n]            345
\n                                     70
                                     ...
[\n, \n, \n154 g CO2/km (comb)\n]       1
[\n, \n, \n144 g CO2/km (comb)\n]       1
[\n, \n, \n189 g CO2/km (comb)\n]       1
[\n, \n, \n146 g CO2/km (comb)\n]       1
[\n, \n, \n101 g CO2/km (comb)\n]       1
Name: non_smoking_vehicle, Length: 94, dtype: int64

In [146]:
df['non_smoking_vehicle']= [item[0] if type(item)==list else item for item in df['non_smoking_vehicle']]

df['non_smoking_vehicle'].value_counts()

#df['non_smoking_vehicle'].str.extract('(^\d{1,3})')   # buradan consumption değerleri alınabilir.

\n    7177
Name: non_smoking_vehicle, dtype: int64

In [463]:
df["Non-smoking Vehicle"].apply(pd.Series)[2].head(50)

0                         NaN
1                         NaN
2                         NaN
3                  \nEuro 6\n
4                         NaN
5                  \nEuro 6\n
6               \n4 (Green)\n
7                         NaN
8                         NaN
9                         NaN
10                        NaN
11                        NaN
12              \n4 (Green)\n
13                        NaN
14                        NaN
15                        NaN
16                        NaN
17                        NaN
18                        NaN
19                        NaN
20                        NaN
21              \n4 (Green)\n
22                        NaN
23                        NaN
24    \n102 g CO2/km (comb)\n
25                        NaN
26                        NaN
27     \n97 g CO2/km (comb)\n
28                        NaN
29                        NaN
30                        NaN
31              \n4 (Green)\n
32                        NaN
33                        NaN
34                        NaN
35                        NaN
36                 \nEuro 6\n
37                        NaN
38                        NaN
39                        NaN
40                        NaN
41                        NaN
42                        NaN
43                        NaN
44                        NaN
45                        NaN
46                        NaN
47                 \nEuro 6\n
48                        NaN
49              \n4 (Green)\n
Name: 2, dtype: object

In [42]:
df['null'].value_counts().head(100)  # düşülecek.

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]    15919
Name: null, dtype: int64

In [43]:
df['Make'].value_counts().head(100)   # düşülecek

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: Make, dtype: int64

In [30]:
df['Make']= df['Make'].str.replace('\n', '')

In [32]:
df['Make'].value_counts().head(100)

Opel       7343
Audi       5712
Renault    2864
Name: Make, dtype: int64

In [45]:
df['Model'].value_counts().head(100)    # düşülecek

A3          3097
A1          2614
Insignia    2598
Astra       2526
Corsa       2219
Clio        1839
Espace       991
Duster        34
A2             1
Name: Model, dtype: int64

In [148]:
df['offer_number'].value_counts().head(100)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nTP62881\n]    27
[\nJV03654\n]    27
[\nXT61649\n]    27
[\nAK13780\n]    27
[\nXJ38068\n]    27
                 ..
[\n2689896\n]     4
[\n2740823\n]     4
[\n4834343\n]     4
[\n4922457\n]     4
[\n4834287\n]     4
Name: offer_number, Length: 100, dtype: int64

In [149]:
df['offer_number']= [item[0] if type(item)==list else item for item in df['offer_number']]

df['offer_number'].value_counts()

\nTP62881\n     27
\nXJ38068\n     27
\nAK13780\n     27
\nJV03654\n     27
\nXT61649\n     27
                ..
\nVO809335\n     1
\n55629\n        1
\n2875621\n      1
\nG5548\n        1
\n13120\n        1
Name: offer_number, Length: 11440, dtype: int64

In [155]:
df['offer_number'].str.extract('(\S+)') #.value_counts().head(100)

                    0
0           LR-062483
1                 NaN
2            AM-95365
3                 NaN
4               C1626
...               ...
15914        10988301
15915     507370_3223
15916        Espace16
15917         2691331
15918  Re_30000008029

[15919 rows x 1 columns]

In [256]:
df = pd.read_json('scout_car.json', lines=True, orient='records', convert_axes=True, dtype=True,convert_dates=True)
df.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.co...,Audi A1,Sportback 1.4 TDI S-tronic...,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,66 kW,"[, Used, , Diesel (Particu...",\n2\n,"[\n06/2021\n, \n99 g CO2/k...","[\nYes\n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate F...","[[3.8 l/100 km (comb)], [4...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest...","[Bluetooth, Hands-free equ...","[Alloy wheels, Catalytic C...","[ABS, Central door lock, D...","[\n, Sicherheit:, , Deakt...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.co...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,141 kW,"[, Used, , Gasoline]",NaN,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, Red, \n]",NaN,NaN,"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],[\n0588/BCY\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,255 kg\n]",[\nfront\n],"[\n, Gasoline, \n]","[[5.6 l/100 km (comb)], [7...",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automat...","[Bluetooth, Hands-free equ...","[Alloy wheels, Sport seats...","[ABS, Central door lock, C...",[\nLangstreckenfahrzeug da...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.co...,Audi A1,Sportback 1.6 TDI S tronic...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,85 kW,"[, Used, , Diesel (Particu...",\n1\n,NaN,NaN,"[\n, \n, \n99 g CO2/km (co...",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\nAM-95365\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nmythosschwarz metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate F...","[[3.8 l/100 km (comb)], [4...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise ...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, D...","[\n, Fahrzeug-Nummer: AM-9...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.co...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,66 kW,"[, Used, , Diesel (Particu...",\n1\n,NaN,NaN,NaN,"[\n, \n, \n99 g CO2/km (co...","[\n, \n, \nEuro 6\n]",[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2016, \n]","[\n, Brown, \n]",[\nMetallic\n],NaN,NaN,"[\n, Sedans, \n]",[\n3\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,195 kg\n]",NaN,"[\n, Diesel (Particulate F...","[[3.8 l/100 km (comb)], [4...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air suspension, Armrest, ...","[Bluetooth, CD player, Han...","[Alloy wheels, Sport seats...","[ABS, Alarm system, Centra...","[\nAudi A1: , - 1e eigenaa...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.co...,Audi A1,Sportback 1.4 TDI S-Tronic...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,66 kW,"[, Used, , Diesel (Particu...",\n1\n,NaN,"[\nYes\n, \n109 g CO2/km (...","[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nC1626\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz Metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],NaN,[\nfront\n],"[\n, Diesel (Particulate F...","[[4.1 l/100 km (comb)], [4...",[\n109 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest...","[Bluetooth, CD player, Han...","[Alloy wheels, Sport packa...","[ABS, Central door lock, D...","[\n, Technik & Sicherheit:...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [182]:
df['First Registration'].value_counts().head(100)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, 2018, \n]    4522
[\n, 2016, \n]    3674
[\n, 2017, \n]    3273
[\n, 2019, \n]    2853
Name: First Registration, dtype: int64

In [185]:
df['First Registration']= [",".join(item) if type(item)==list else item for item in df['First Registration']]

df['First Registration'].str.extract("(\d+)").isna().value_counts()

False    14322
True      1597
dtype: int64

In [96]:
df['Body Color'].value_counts().head(1000)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Black, \n]     3745
[\n, Grey, \n]      3505
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: Body Color, dtype: int64

In [188]:
df['Body Color']= [",".join(item) if type(item)==list else item for item in df['Body Color']]

df['Body Color'].str.extract("(\w+)").isna().value_counts()

False    15322
True       597
dtype: int64

In [49]:
df['Paint Type'].value_counts().head(100)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nMetallic\n]       9794
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: Paint Type, dtype: int64

In [206]:
df['Paint Type']= [",".join(item) if type(item)==list else item for item in df['Paint Type']]

df['Paint Type'].str.extract("(\w+.\w+)").isna().value_counts()

False    10147
True      5772
dtype: int64

In [209]:
df['Body Color Original'].isna().value_counts()

False    12160
True      3759
Name: Body Color Original, dtype: int64

In [211]:
df['Body Color Original']= [item[0] if type(item)==list else item for item in df['Body Color Original']]

df['Body Color Original'].str.extract("(\w+.\w+)").value_counts()

Onyx Schwarz              389
Bianco                    282
Argon Silber              273
Quarz Grau                266
Mythosschwarz Metallic    256
                         ...
Darmoon Blue                1
Mitos                       1
Shiny Grey                  1
Darkmoon Blau               1
DIAMANTBLAU                 1
Length: 1415, dtype: int64

In [52]:
df['Upholstery'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nCloth, Black\n]           5821
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
Name: Upholstery, dtype: int64

In [215]:
df['Upholstery']= [",".join(item) if type(item)==list else item for item in df['Upholstery']]

df['Upholstery'].str.extract("(\w+..\w+)").isna().value_counts()

False    12199
True      3720
dtype: int64

In [450]:
df['Upholstery'].apply(pd.Series)

                             0
0             \nCloth, Black\n
1              \nCloth, Grey\n
2             \nCloth, Black\n
3                          NaN
4             \nCloth, Black\n
...                        ...
15914                      NaN
15915                \nCloth\n
15916  \nFull leather, Black\n
15917         \nPart leather\n
15918  \nFull leather, Brown\n

[15919 rows x 1 columns]

In [54]:
df['Body'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: Body, dtype: int64

In [220]:
df['Body']= [",".join(item) if type(item)==list else item for item in df['Body']]

df['Body'].str.extract("(\w+.\w+)").value_counts()

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
dtype: int64

In [231]:
df['Nr. of Doors'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
[\n7\n]        1
[\n1\n]        1
Name: Nr. of Doors, dtype: int64

In [233]:
df['Nr. of Doors']= [item[0] if type(item)==list else item for item in df['Nr. of Doors']]

df['Nr. of Doors'].str.extract("(\w+)").isna().value_counts()

False    15707
True       212
dtype: int64

In [56]:
df['Nr. of Seats'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    13336
[\n4\n]     1125
[\n7\n]      362
[\n2\n]      116
[\n6\n]        2
[\n3\n]        1
Name: Nr. of Seats, dtype: int64

In [234]:
df['Nr. of Seats']= [item[0] if type(item)==list else item for item in df['Nr. of Seats']]

df['Nr. of Seats'].str.extract("(\w+)").isna().value_counts()

False    14942
True       977
dtype: int64

In [57]:
df['Model Code'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n0035/BCB\n]    268
[\n0588/BNO\n]    245
[\n0588/BDB\n]    206
[\n0588/BHX\n]    188
[\n1844/ADJ\n]    175
[\n0588/BDF\n]    175
[\n0588/BCV\n]    139
[\n3333/BAJ\n]    122
[\n3333/BEF\n]    118
[\n0588/AYB\n]    117
Name: Model Code, dtype: int64

In [238]:
df['Model Code']= [item[0] if type(item)==list else item for item in df['Model Code']]

df['Model Code'].str.extract("(\S+)").isna().value_counts()

True     10941
False     4978
dtype: int64

In [58]:
df['Gearing Type'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: Gearing Type, dtype: int64

In [240]:
df['Gearing Type']= [",".join(item) if type(item)==list else item for item in df['Gearing Type']]

df['Gearing Type'].str.extract("(\w+.\w+)").isna().value_counts()

False    15919
dtype: int64

In [ ]:
df['Gearing Type'].apply(pd.Series)

In [59]:
df['Displacement'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n1,598 cc\n]    4761
[\n999 cc\n]      2438
[\n1,398 cc\n]    1314
[\n1,399 cc\n]     749
[\n1,229 cc\n]     677
[\n1,956 cc\n]     670
[\n1,461 cc\n]     595
[\n1,490 cc\n]     559
[\n1,422 cc\n]     467
[\n1,197 cc\n]     353
Name: Displacement, dtype: int64

In [242]:
df['Displacement']= [",".join(item) if type(item)==list else item for item in df['Displacement']]

df['Displacement'].str.extract("(\d+.\d+)").value_counts()

1,598    4761
999      2438
1,398    1314
1,399     749
1,229     677
         ...
1,333       1
1,696       1
1,686       1
1,350       1
1,533       1
Length: 74, dtype: int64

In [60]:
df['Cylinders'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n4\n]    8105
[\n3\n]    2104
[\n5\n]      22
[\n6\n]       3
[\n2\n]       2
[\n8\n]       2
[\n1\n]       1
Name: Cylinders, dtype: int64

In [245]:
df['Cylinders']= [item[0] if type(item)==list else item for item in df['Cylinders']]

df['Cylinders'].str.extract("(\d+)").value_counts()

4    8105
3    2104
5      22
6       3
2       2
8       2
1       1
dtype: int64

In [61]:
df['Weight'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n1,163 kg\n]    574
[\n1,360 kg\n]    356
[\n1,165 kg\n]    301
[\n1,335 kg\n]    242
[\n1,135 kg\n]    213
[\n1,199 kg\n]    205
[\n1,734 kg\n]    170
[\n1,180 kg\n]    168
[\n1,503 kg\n]    165
[\n1,350 kg\n]    155
Name: Weight, dtype: int64

In [249]:
df['Weight']= [item[0] if type(item)==list else item for item in df['Weight']]

df['Weight'].str.extract("(\d+.\d+)").isna().value_counts()

False    8943
True     6976
dtype: int64

In [62]:
df['Drive chain'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nfront\n]    8886
[\n4WD\n]       171
[\nrear\n]        4
Name: Drive chain, dtype: int64

In [251]:
df['Drive chain']= [item[0] if type(item)==list else item for item in df['Drive chain']]

df['Drive chain'].str.extract("(\S+)").value_counts()

front    8886
4WD       171
rear        4
dtype: int64

In [427]:
df = pd.read_json('scout_car.json', lines=True, orient='records', convert_axes=True, dtype=True,convert_dates=True)
df.head(2)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.co...,Audi A1,Sportback 1.4 TDI S-tronic...,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,66 kW,"[, Used, , Diesel (Particu...",\n2\n,"[\n06/2021\n, \n99 g CO2/k...","[\nYes\n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate F...","[[3.8 l/100 km (comb)], [4...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest...","[Bluetooth, Hands-free equ...","[Alloy wheels, Catalytic C...","[ABS, Central door lock, D...","[\n, Sicherheit:, , Deakt...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.co...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,141 kW,"[, Used, , Gasoline]",NaN,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, Red, \n]",NaN,NaN,"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],[\n0588/BCY\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,255 kg\n]",[\nfront\n],"[\n, Gasoline, \n]","[[5.6 l/100 km (comb)], [7...",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automat...","[Bluetooth, Hands-free equ...","[Alloy wheels, Sport seats...","[ABS, Central door lock, C...",[\nLangstreckenfahrzeug da...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [214]:
df["Fuel"].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Diesel (Particulate Filter), \n]                4315
[\n, Super 95, \n]                                   3338
[\n, Gasoline, \n]                                   3175
[\n, Diesel, \n]                                     2984
[\n, Super 95 / Regular/Benzine 91, \n]               424
[\n, Regular/Benzine 91, \n]                          354
[\n, Super E10 95, \n]                                331
[\n, Super 95 (Particulate Filter), \n]               268
[\n, Super 95 / Super E10 95, \n]                     131
[\n, Regular/Benzine 91 (Particulate Filter), \n]     100
Name: Fuel, dtype: int64

In [226]:
df['Fuel']= [",".join(item) if type(item)==list else item for item in df['Fuel']]

df['Fuel']=df['Fuel'].str.replace(r'[\s,\s./]', ' ', regex=True).replace({'':0}, inplace=False)

In [227]:
df['Fuel'].value_counts().head(20)

  Diesel (Particulate Filter)                                                                                    4315
  Super 95                                                                                                       3338
  Gasoline                                                                                                       3175
  Diesel                                                                                                         2984
  Super 95   Regular Benzine 91                                                                                   424
  Regular Benzine 91                                                                                              354
  Super E10 95                                                                                                    331
  Super 95 (Particulate Filter)                                                                                   268
  Super 95   Super E10 95                                                                                         131
  Regular Benzine 91 (Particulate Filter)                                                                         100
  Super 95   Super Plus 98                                                                                         85
  Gasoline (Particulate Filter)                                                                                    77
  Super 95   Super Plus 98   Super E10 95   Super Plus E10 98                                                      40
  Super E10 95   Super 95                                                                                          38
  CNG                                                                                                              33
  Super 95   Super E10 95 (Particulate Filter)                                                                     25
  Super E10 95   Super 95   Super Plus 98   Super Plus E10 98                                                      19
  LPG                                                                                                              16
  Super 95   Super Plus 98 (Particulate Filter)                                                                    14
  Regular Benzine 91   Super 95   Super Plus 98   Regular Benzine E10 91   Super E10 95   Super Plus E10 98        13
Name: Fuel, dtype: int64

In [228]:
benzine = ["Gasoline","Super 95","Regular", "Super E10 95","Super Plus 98","Super Plus E10 98","Others"]

lpg = ["LPG","Liquid petroleum gas","CNG","Biogas","Domestic gas H"]


def fueltype(x):
    if x in benzine:
        return "Benzine"
    elif x in lpg:
        return "LPG/CNG"
    else :
        return x

df["Fuel"] = df["Fuel"].apply(fueltype)

df["Fuel"]

0          Diesel (Particulate Filt...
1                           Gasoline
2          Diesel (Particulate Filt...
3          Diesel (Particulate Filt...
4          Diesel (Particulate Filt...
                     ...
15914      Diesel (Particulate Filt...
15915      Super 95   Super Plus 98...
15916                         Diesel
15917                         Diesel
15918                       Super 95
Name: Fuel, Length: 15919, dtype: object

In [448]:
df['Fuel'].apply(pd.Series)

,0,1,2
0,\n,Diesel (Particulate Filter),\n
1,\n,Gasoline,\n
2,\n,Diesel (Particulate Filter),\n
3,\n,Diesel (Particulate Filter),\n
4,\n,Diesel (Particulate Filter),\n
...,...,...,...
15914,\n,Diesel (Particulate Filter),\n
15915,\n,Super 95 / Super Plus 98 (...,\n
15916,\n,Diesel,\n
15917,\n,Diesel,\n
15918,\n,Super 95,\n

In [428]:
df['Consumption'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]    304
[[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]      276
[[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]    257
[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]    253
[[4.7 l/100 km (comb)], [5.1 l/100 km (city)], [4.4 l/100 km (country)]]    244
[[4.5 l/100 km (comb)], [5.7 l/100 km (city)], [3.8 l/100 km (country)]]    214
[[4.4 l/100 km (comb)], [5.2 l/100 km (city)], [3.9 l/100 km (country)]]    213
[[3.3 l/100 km (comb)], [3.5 l/100 km (city)], [3.1 l/100 km (country)]]    210
[[4 l/100 km (comb)], [4.5 l/100 km (city)], [3.7 l/100 km (country)]]      201
[[5 l/100 km (comb)], [6.3 l/100 km (city)], [4.2 l/100 km (country)]]      196
Name: Consumption, dtype: int64

In [447]:
df['Consumption'].apply(pd.Series)  #[0].isna().value_counts()

,0,1,2,3,4,5,6
0,[3.8 l/100 km (comb)],[4.3 l/100 km (city)],[3.5 l/100 km (country)],NaN,NaN,NaN,NaN
1,[5.6 l/100 km (comb)],[7.1 l/100 km (city)],[4.7 l/100 km (country)],NaN,NaN,NaN,NaN
2,[3.8 l/100 km (comb)],[4.4 l/100 km (city)],[3.4 l/100 km (country)],NaN,NaN,NaN,NaN
3,[3.8 l/100 km (comb)],[4.3 l/100 km (city)],[3.5 l/100 km (country)],NaN,NaN,NaN,NaN
4,[4.1 l/100 km (comb)],[4.6 l/100 km (city)],[3.8 l/100 km (country)],NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
15914,[5.3 l/100 km (comb)],[6.2 l/100 km (city)],[4.7 l/100 km (country)],NaN,NaN,NaN,NaN
15915,\n,7.4 l/100 km (comb),\n,9.2 l/100 km (city),\n,6.3 l/100 km (country),\n
15916,[5.3 l/100 km (comb)],[6.2 l/100 km (city)],[4.7 l/100 km (country)],NaN,NaN,NaN,NaN
15917,[5.3 l/100 km (comb)],[6.2 l/100 km (city)],[4.7 l/100 km (country)],NaN,NaN,NaN,NaN
15918,[6.8 l/100 km (comb)],[8.7 l/100 km (city)],[5.7 l/100 km (country)],NaN,NaN,NaN,NaN

In [ ]:
data.ingredients.apply(pd.Series) \
    .merge(data, right_index = True, left_index = True) \
    .drop(["ingredients"], axis = 1) \
    .melt(id_vars = ['cuisine', 'id'], value_name = "ingredient") \
    .drop("variable", axis = 1) \
    .dropna()

data = [['Green', 'Rectangle\r\nTriangle\r\nOctangle', 10], ['Blue', 'Rectangle\r\nTriangle', 15]]   
df = pd.DataFrame(data, columns = ['Color', 'Shape', 'Price'])
new_df = pd.DataFrame(columns = ['Color', 'Shape', 'Price'])

for index, row in df.iterrows():
    split = row['Shape'].split('\r\n')
    for shape in split:
        new_df = new_df.append(pd.DataFrame({'Color':[row['Color']], 'Shape':[shape], 'Price':[row['Price']]}))

new_df = new_df.reset_index(drop=True)
print(new_df)

In [255]:
df['CO2 Emission'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n120 g CO2/km (comb)\n]    740
[[], [], []]                 628
[\n99 g CO2/km (comb)\n]     545
[\n97 g CO2/km (comb)\n]     537
[\n104 g CO2/km (comb)\n]    501
[\n102 g CO2/km (comb)\n]    477
[\n103 g CO2/km (comb)\n]    445
[\n114 g CO2/km (comb)\n]    382
[\n124 g CO2/km (comb)\n]    372
[\n108 g CO2/km (comb)\n]    362
Name: CO2 Emission, dtype: int64

In [256]:
df['CO2 Emission']= [item[0] if type(item)==list else item for item in df['CO2 Emission']]

df['CO2 Emission'].str.extract("(\d+)").value_counts().head(20)

120    740
99     545
97     537
104    501
102    477
103    445
114    382
124    372
107    362
108    362
119    361
106    349
128    329
126    282
85     275
118    270
110    266
127    257
117    254
111    237
dtype: int64

In [269]:
df = pd.read_json('scout_car.json', lines=True, orient='records', convert_axes=True, dtype=True,convert_dates=True)

In [270]:
df['Emission Class'].value_counts().head(50)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nEuro 6\n]          10139
[\nEuro 6d-TEMP\n]     1845
[[], [], []]            607
[\nEuro 6c\n]           127
[\nEuro 5\n]             78
[\nEuro 6d\n]            62
[\nEuro 4\n]             40
Name: Emission Class, dtype: int64

In [271]:
df['Emission Class']= [item[0] if type(item)==list else item for item in df['Emission Class']]

df['Emission Class'].str.extract("(\w.+)").value_counts().head()

Euro 6          10139
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
dtype: int64

In [339]:
df['\nComfort & Convenience\n'].value_counts(dropna=False).head(10)

NaN                                                                                                                                                                                                                                                                                                                                                   920
Air conditioning,Electrical side mirrors,Hill Holder,Power windows                                                                                                                                                                                                                                                                                    216
Air conditioning,Electrical side mirrors,Power windows                                                                                                                                                                                                                                                                                                134
Air conditioning,Power windows                                                                                                                                                                                                                                                                                                                        130
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system    105
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                            92
Air conditioning,Automatic climate control,Cruise control,Multi-function steering wheel,Park Distance Control,Power windows                                                                                                                                                                                                                            89
Air conditioning,Power windows,Seat ventilation,Split rear seats                                                                                                                                                                                                                                                                                       82
Air conditioning                                                                                                                                                                                                                                                                                                                                       79
Air conditioning,Seat ventilation,Split rear seats                                                                                                                                                                                                                                                                                                     79
Name: \nComfort & Convenience\n, dtype: int64

In [341]:
df['\nComfort & Convenience\n']= [",".join(item) if type(item)==list else item for item in df['\nComfort & Convenience\n']]

df['\nComfort & Convenience\n'].str.extract("(\w.+)").isna().value_counts().head()

False    14999
True       920
dtype: int64

In [446]:
df['\nComfort & Convenience\n'].apply(pd.Series)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32
0,Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sens...,Power windows,Rain sensor,Seat heating,Start-stop system,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Air conditioning,Automatic climate control,Hill Holder,Leather steering wheel,Lumbar support,Parking assist system sens...,Power windows,Start-stop system,Tinted windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Air conditioning,Cruise control,Electrical side mirrors,Hill Holder,Leather steering wheel,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sens...,Parking assist system sens...,Power windows,Seat heating,Start-stop system,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Air suspension,Armrest,Auxiliary heating,Electrical side mirrors,Heads-up display,Hill Holder,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Power windows,Rain sensor,Seat heating,Split rear seats,Start-stop system,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Air conditioning,Armrest,Automatic climate control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system sens...,Power windows,Rain sensor,Start-stop system,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,Air conditioning,Automatic climate control,Cruise control,Electrically adjustable seats,Electrical side mirrors,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Massage seats,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sens...,Parking assist system sens...,Power windows,Rain sensor,Split rear seats,Start-stop system,Tinted windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15915,Air conditioning,Automatic climate control,Cruise control,Electrically heated windsh...,Electrical side mirrors,Electric tailgate,Heads-up display,Heated steering wheel,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system self...,Parking assist system sens...,Parking assist system sens...,Power windows,Rain sensor,Seat heating,Sunroof,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15916,Air conditioning,Armrest,Automatic climate control,Cruise control,Electrically heated windsh...,Electrical side mirrors,Electric tailgate,Heads-up display,Heated steering wheel,Leather steering wheel,Light sensor,Massage seats,Multi-function steering wheel,Navigation system,Panorama roof,Park Distance Control,Parking assist system camera,Parking assist system sens...,Parking assist system sens...,Power windows,Rain sensor,Seat heating,Seat ventilation,Sunroof,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15917,Air conditioning,Automatic climate control,Cruise control,Electrically adjustable seats,Electrical side mirrors,Leather steering wheel,Light sensor,Park Distance Control,Power windows,Start-stop system,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15918,Air conditioning,Automatic climate control,Cruise control,Electrically adjustable seats,Electrical side mirrors,Electric tailgate,Hill Holder,Leather steering wheel,Navigation system,Power windows,Seat heating,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [335]:
df['\nEntertainment & Media\n'].value_counts(dropna=False).head(10)

NaN                                                                         1374
Bluetooth,Hands-free equipment,On-board computer,Radio,USB                  1282
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB               982
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB     783
On-board computer,Radio                                                      487
Radio                                                                        477
Bluetooth,CD player,Hands-free equipment,On-board computer,Radio,USB         465
On-board computer                                                            461
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio         404
Bluetooth,On-board computer,Radio                                            397
Name: \nEntertainment & Media\n, dtype: int64

In [334]:
df['\nEntertainment & Media\n']= [",".join(item) if type(item)==list else item for item in df['\nEntertainment & Media\n']]

df['\nEntertainment & Media\n'].str.extract("(\w.+)").value_counts().head()

Bluetooth,Hands-free equipment,On-board computer,Radio,USB                  1282
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB               982
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB     783
On-board computer,Radio                                                      487
Radio                                                                        477
dtype: int64

In [444]:
df['\nEntertainment & Media\n'].apply(pd.Series)

,0,1,2,3,4,5,6,7,8,9
0,Bluetooth,Hands-free equipment,On-board computer,Radio,NaN,NaN,NaN,NaN,NaN,NaN
1,Bluetooth,Hands-free equipment,On-board computer,Radio,Sound system,NaN,NaN,NaN,NaN,NaN
2,MP3,On-board computer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,Sound system,USB,NaN,NaN
4,Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
15914,Bluetooth,Digital radio,Hands-free equipment,On-board computer,Radio,USB,NaN,NaN,NaN,NaN
15915,Bluetooth,Digital radio,Hands-free equipment,Radio,USB,NaN,NaN,NaN,NaN,NaN
15916,Bluetooth,Hands-free equipment,On-board computer,Radio,NaN,NaN,NaN,NaN,NaN,NaN
15917,Bluetooth,Digital radio,Radio,USB,NaN,NaN,NaN,NaN,NaN,NaN
15918,USB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
df['\nExtras\n'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Alloy wheels]                                       3245
[Alloy wheels, Touch screen]                          697
[Alloy wheels, Voice Control]                         577
[Alloy wheels, Touch screen, Voice Control]           541
[Alloy wheels, Roof rack]                             385
[Alloy wheels, Sport seats]                           380
[Roof rack]                                           337
[Alloy wheels, Catalytic Converter]                   271
[Alloy wheels, Sport seats, Sport suspension]         234
[Alloy wheels, Catalytic Converter, Touch screen]     228
Name: \nExtras\n, dtype: int64

In [343]:
df['\nExtras\n']= [",".join(item) if type(item)==list else item for item in df['\nExtras\n']]

df['\nExtras\n'].str.extract("(\w.+)").isna().value_counts().head()

False    12957
True      2962
dtype: int64

In [443]:
df['\nExtras\n'].apply(pd.Series)

,0,1,2,3,4,5,6,7,8,9
0,Alloy wheels,Catalytic Converter,Voice Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alloy wheels,Sport seats,Sport suspension,Voice Control,NaN,NaN,NaN,NaN,NaN,NaN
2,Alloy wheels,Voice Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alloy wheels,Sport seats,Voice Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alloy wheels,Sport package,Sport suspension,Voice Control,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
15914,Alloy wheels,Touch screen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15915,Alloy wheels,Touch screen,Voice Control,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15916,Alloy wheels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15917,Alloy wheels,Touch screen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15918,Alloy wheels,Touch screen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
df['\nSafety & Security\n'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                538
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                            480
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                          275
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]    272
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                228
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]              220
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                         174
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                             123
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system]                                                               114
[ABS, Driver-side airbag, Electronic stability control, Passenger-side airbag, Power steering, Xenon headlights]                                                                                                                                                          106
Name: \nSafety & Security\n, dtype: int64

In [332]:
df['\nSafety & Security\n']= [",".join(item) if type(item)==list else item for item in df['\nSafety & Security\n']]

df['\nSafety & Security\n'].str.extract("(\w.+)").isna().value_counts().head()

False    14937
True       982
dtype: int64

In [441]:
df['\nSafety & Security\n'].apply(pd.Series)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28
0,ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring s...,Traction control,Xenon headlights,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABS,Central door lock,Central door lock with rem...,Daytime running lights,Driver-side airbag,Electronic stability control,Head airbag,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring s...,Traction control,Xenon headlights,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring s...,Traction control,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABS,Alarm system,Central door lock with rem...,Driver drowsiness detection,Driver-side airbag,Electronic stability control,Emergency system,Head airbag,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABS,Central door lock,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring s...,Traction control,Xenon headlights,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,ABS,Central door lock,Central door lock with rem...,Driver-side airbag,Electronic stability control,Emergency brake assistant,Head airbag,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Rear airbag,Side airbag,Tire pressure monitoring s...,Traction control,Traffic sign recognition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15915,ABS,Adaptive Cruise Control,Blind spot monitor,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring s...,Traction control,Traffic sign recognition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15916,ABS,Adaptive Cruise Control,Blind spot monitor,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Traction control,Traffic sign recognition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15917,ABS,Blind spot monitor,Driver-side airbag,Electronic stability control,Emergency brake assistant,Isofix,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring s...,Traffic sign recognition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15918,ABS,Blind spot monitor,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring s...,Traffic sign recognition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
df['description'].value_counts().head(3)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                636
[\n, \n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           30
[\nSichern Sie sich diesen Opel Astra K 1.4 SIDI Turbo Innovation Start/Stop zum Top-Preis inklusive dem, AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  2.Hand, deutsche Auslieferung, Unfallfrei, scheckheftgepflegt, mindestens 12 Monate gültige HU und AU,  , Highlights,  , Rückfahrkamera,  , Voll-LED-Matrix-Scheinwerfer (IntelliLux),  , Audio-Navigationssystem Navi 900 Europa Touch,  , Spurassistent,  , Leichtmetallfelgen , Komfort,  , Sitzheizung vorn,  , Klimaautomatik 2-Zonen,  , Parkpilotsystem vorn und hinten,  , 6-Stufen Automatikgetriebe,  , Tempomat (Geschwindigkeits-Regelanlage) mit Begrenzer ,  , Berganfahrassistent ,  , Servolenkung,  , Lendenwirbelstütze elektropneumatisch für Fahrer ,  , Kopfstützen vorn und hinten ,  , Multifunktionslenkrad in Leder, beheizbar ,  , Mittelarmlehne vorn verschiebbar,  , Zentralverriegelung mit Fernbedienung,  , Fensterheber elektrisch vorn + hinten,  , Berganfahr-Assistent (HSA, Hill Start Assist), Multimedia,  , 8 Zoll Touchscreen-Farbdisplay,  , Verkehrszeichenerkennung,  , Audiostreaming ,  , Apple CarPlay und Android Auto,  , 6 Lautsprecher ,  , Bluetooth-Freisprecheinrichtung ,  , Sprachsteuerung,  , Bordcomputer,  , Multimedia-Schnittstelle (USB / AUX-IN), Licht und Sicht,  , Außenspiegel elektrisch verstell-, heiz- und anklappbar,  , Abbiegelicht,  , LED Tagfahrlicht,  , Nebelscheinwerfer,  , Ambientebeleuchtung,  , Innenrückspiegel automatisch abblendend,  , Fernlichtassistent und Leuchtweitenregulierung ,  , Licht und Regensensor ,  , Wärmeschutzverglasung hinten abgedunkelt (Solar-Protect),  , LED Heckleuchten , Sicherheit,  , Abstandswarner,  , Auffahrwarnsystem,  , Isofix-Aufnahmen für Kindersitz an Rücksitz,  , Frontkamera,  , Airbag für Fahrer- und Beifahrerseite,  , Wegfahrsperre,  , ...]     27
Name: description, dtype: int64

In [331]:
df['description']= [",".join(item) if type(item)==list else item for item in df['description']]

df['description'].str.extract("(\w.+)").isna().value_counts().head()

#df['description'].str.replace(r'[\s]', ' ', regex=True).replace({'':0}, inplace=False).isna().value_counts()

False    15248
True       671
dtype: int64

In [440]:
df['description'].apply(pd.Series)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,...,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299
0,\n,Sicherheit:,,Deaktivierung für Beifahre...,,ESC mit elektronischer Que...,,Tagfahrlicht,,Reifendruck-Kontrollanzeige,,Kopfairbag-System mit Seit...,,Sicherheitslenksäule,Assistenzsysteme:,,Berganfahrassistent,Komfort:,,Scheinwerferreinigung,,Xenon plus inklusive Schei...,,Scheinwerfer-Reinigungsanlage,,Einparkhilfe hinten,,Licht-/Regensensor,,Funkfernbedienung,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,\nLangstreckenfahrzeug dah...,Bremsen neu bei 62000 km.,Gut gepflegter A1\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,\n,Fahrzeug-Nummer: AM-95365,,Ehem. UPE 24.640 EUR,,Komfort,,Klimaanlage,,Elektrische Fensterheber,,Sitzheizung,,Tempomat,,Zentralverriegelung,,Leder-Lenkrad,,Elektrische Spiegel,,Wärmedämmendes Glas,,Anfahrassistent,,Sicherheit,,Window/Kopfairbags,,ESP (el. Stabilitäts Progr...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,\nAudi A1:,- 1e eigenaar,- Perfecte staat: schade/o...,- Onderhoudsboekje Audi ga...,- Full option!,- S-line opties,"- Automaat, lederen bekled...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,\n,Technik & Sicherheit:,Xenon plus,Klimaautomatik,Einparkhilfe hinten,Scheinwerferreinigungsanlage,Nebelscheinwerfer,Zentralverriegelung mit Fe...,Außenspiegel elek. einstel...,Fensterheber elek,Start/Stop Anlage,6 Airbag inkl. Kopfairbag,Euro 6,Multimedia:,Radio CD Concert,audi music interface,Handyvorbereitung (Bluetooth),Sprachsteuerung,USB Anschluss,Assistenzsysteme:,Lichtsensor,Regensensor,Berganfahrassistent,Reifendruckkontrolle,ESP inkl. ABS,Interieur:,Fahrerinformationssystem,Multifunktions-Sportlederl...,Mittelarmlehne vorn,Rücksitzlehne geteilt umkl...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,\nVettura visionabile nell...,Prezzo escluse spese immat...,Optional inclusi nel prezzo:,- Easy Park Assist con par...,Non esiti a contattare i n...,Villorba (TV) - Via Roma 141,Numero verde: 800286606 (g...,Concessionaria ufficiale p...,Potete trovare tutte le no...,ATTENZIONE: tutti i dati p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15915,\nDach: Panorama-Glas-Schi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15916,\n,Getriebe:,Automatik,Technik:,Bordcomputer,Assistenten:,"Totwinkel-Assistent, Verk...",Komfort:,"Servolenkung, Zentralverr...",Sicht:,"LED-Hauptscheinwerfer, LE...",Sicherheit:,"ABS, Airbag, Beifahrer-Ai...",Entertainment:,"Navigationssystem, Radio,...",Umwelt:,"Grüne Umweltplakette,",Energieeffizienzklasse C,Qualität:,"Garantie, Scheckheftgepfl...",Sonstiges:,"Alufelgen, ElektrischesPa...",Weiteres:,Auf Wunsch ist eine Indiv...,\n,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15917,\nDEK:[2691331],Renault Espace Blue dCi 20...,Nuova da Immatricolare,COLORE: Grigio Titanio,INTERNO: Pelle+Tessuto,TRASMISSIONE: Cambio Autom...,---,ACCESSORI:,7 Posti,",","Cerchi in Lega 17, Navigat...",---,Listino Nuovo 44.300 Euro,Prezzo Gruppo Carmeli: 39....,IVA Esposta,In caso di Adesione alla P...,Contattaci per scoprire tu...,__________________________...,Gruppo Carmeli S.p.A. è Co...,Nelle sedi di Brescia (Nis...,Offriamo Servizi:,-VALUTAZIONE e PERMUTA del...,-ACQUISTO con pagamento im...,-FINANZIAMENTI e LEASING a...,-NOLEGGIO A LUNGO TERMINE ...,-PACCHETTI ASSICURATIVI su...,__________________________...,Sebbene sia stato fatto og...,\n,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15918,\n,Sicherheit Airbags:,,Seitenairbag,,Fahrerairbag,,Beifahrerairbag,,Sicherheit:,,Rückfahrkamera,,Reifendruckkontrolle,,ABS,,elektr. Stabilitätsprogram...,,ISOFIX Kindersitzhalterung,,Tagfahrlicht,,Kindersitze integriert,,Wegfahrsperre,,Spiegel automatisch abblen...,,Servolenkung,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [321]:
df = pd.read_json('scout_car.json', lines=True, orient='records', convert_axes=True, dtype=True,convert_dates=True)

In [322]:
df['Emission Label'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n4 (Green)\n]         3553
[\n1 (No sticker)\n]     381
[[], [], []]              40
[\n5 (Blue)\n]             8
[\n3 (Yellow)\n]           2
[\n2 (Red)\n]              1
Name: Emission Label, dtype: int64

In [323]:
df['Emission Label']= [item[0] if type(item)==list else item for item in df['Emission Label']]

df['Emission Label'].str.extract("(\S+)").isna().value_counts().head(10)

True     11974
False     3945
dtype: int64

In [75]:
df['Gears'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n6\n]     5822
[\n5\n]     3239
[\n7\n]     1908
[\n8\n]      224
[\n9\n]        6
[\n4\n]        2
[\n3\n]        2
[\n1\n]        2
[\n50\n]       1
[\n2\n]        1
Name: Gears, dtype: int64

In [319]:
df['Gears']= [item[0] if type(item)==list else item for item in df['Gears']]

df['Gears'].str.extract("(\d+)").isna().value_counts().head(10)

False    11207
True      4712
dtype: int64

In [293]:
df = pd.read_json('scout_car.json', lines=True, orient='records', convert_axes=True, dtype=True,convert_dates=True)

In [285]:
df['Country version'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nGermany\n]           4502
[\nItaly\n]             1038
[\nEuropean Union\n]     507
[\nNetherlands\n]        464
[\nSpain\n]              325
[\nBelgium\n]            314
[\nAustria\n]            208
[\nCzech Republic\n]      52
[\nPoland\n]              49
[\nFrance\n]              38
Name: Country version, dtype: int64

In [324]:
df['Country version']= [item[0] if type(item)==list else item for item in df['Country version']]

df['Country version'].str.extract("(\w+)").isna().value_counts().head(20)

True     8333
False    7586
dtype: int64

In [77]:
df['Electricity consumption'].value_counts().head(10)  # silelim.

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n0 kWh/100 km (comb)\n]    137
Name: Electricity consumption, dtype: int64

In [78]:
df['Last Service Date'].value_counts().head(10)   #silinebilir.

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n02/2019\n, \nEuro 6\n]                 23
[\n05/2019\n, \nEuro 6\n]                 16
[\n01/2018\n, \n118 g CO2/km (comb)\n]    15
[\n03/2019\n, \nEuro 6\n]                 15
[\n04/2019\n, \nEuro 6\n]                 13
[\n06/2019\n, \nEuro 6\n]                 13
[\n01/2019\n, \nEuro 6\n]                 12
[\n12/2018\n, \nEuro 6\n]                 11
[\n10/2018\n, \nEuro 6\n]                 10
[\n05/2018\n, \nEuro 6\n]                  9
Name: Last Service Date, dtype: int64

In [439]:
df['Last Service Date'].apply(pd.Series)[1].isna().value_counts()

True     15440
False      479
Name: 1, dtype: int64

In [318]:
df['Last Service Date']= [",".join(item) if type(item)==list else item for item in df['Last Service Date']]

df['Last Service Date'].str.extract('(\d{2}/\d{4})').value_counts()

05/2019    61
02/2019    55
01/2019    51
06/2019    49
04/2019    48
03/2019    47
12/2018    32
10/2018    24
07/2018    21
06/2018    21
05/2018    21
01/2018    20
09/2018    17
11/2018    17
04/2018    16
08/2018    13
03/2018     9
06/2017     7
02/2018     5
01/2017     3
05/2017     3
12/2017     3
02/2017     3
10/2017     3
11/2017     2
06/2016     2
04/2016     2
07/2017     2
09/2017     1
08/2019     1
09/2019     1
07/2019     1
10/2019     1
04/2017     1
11/2019     1
05/2016     1
03/2016     1
dtype: int64

In [ ]:
df = pd.read_json('scout_car.json', lines=True, orient='records', convert_axes=True, dtype=True,convert_dates=True)
df.head()

In [81]:
df['Other Fuel Types'].value_counts().head(10)  #silelim

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[[], [], []]    880
Name: Other Fuel Types, dtype: int64

In [82]:
df['Availability'].value_counts().head(10)   #silinebilir.

\nin 90 days from ordering\n     196
\nin 120 days from ordering\n    182
\nin 1 day from ordering\n        51
\nin 3 days from ordering\n       35
\nin 5 days from ordering\n       35
\nin 180 days from ordering\n     24
\nin 14 days from ordering\n      24
\nin 7 days from ordering\n       20
\nin 150 days from ordering\n     18
\nin 2 days from ordering\n       16
Name: Availability, dtype: int64

In [309]:
df['Availability'].str.extract('(\d{1,3})').isna().value_counts()

True     15284
False      635
dtype: int64

In [83]:
df['Last Timing Belt Service Date'].value_counts().head(10)   #silelim.

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n04/2016\n]                2
[\n01/2019\n]                1
[\n01/1970\n]                1
[\n05/2019\n]                1
[\n06/2017\n]                1
[\n04/2019\n]                1
[\n01/1900\n]                1
[\n02/2018\n]                1
[\n05/2018\n, \nEuro 6\n]    1
[\n01/2018\n]                1
Name: Last Timing Belt Service Date, dtype: int64

In [314]:
df['Last Timing Belt Service Date']= [item[0] if type(item)==list else item for item in df['Last Timing Belt Service Date']]

df['Last Timing Belt Service Date'].str.extract('(\d{2}/\d{4})').isna().value_counts()

True     15903
False       16
dtype: int64

In [84]:
df['Available from'].value_counts().head(10)  #silinebilir.

\n31/08/19\n    98
\n30/07/19\n    25
\n15/08/19\n    24
\n16/09/19\n    14
\n29/06/19\n    12
\n01/07/19\n    11
\n28/06/19\n    10
\n19/08/19\n     7
\n10/09/19\n     6
\n10/11/19\n     5
Name: Available from, dtype: int64

In [311]:
df['Available from'].str.extract('(\d{2}/\d{2}/\d{2})').isna().value_counts().head(10)

True     15647
False      272
dtype: int64

In [85]:
df.columns

Index(['url',
       'make_model',
       'short_description',
       'body_type',
       'price',
       'vat',
       'km',
       'registration',
       'prev_owner',
       'kW',
       'hp',
       'Type',
       'Previous Owners',
       'Next Inspection',
       'Inspection new',
       'Warranty',
       'Full Service',
       'Non-smoking Vehicle',
       'null',
       'Make',
       'Model',
       'Offer Number',
       'First Registration',
       'Body Color',
       'Paint Type',
       'Body Color Original',
       'Upholstery',
       'Body',
       'Nr. of Doors',
       'Nr. of Seats',
       'Model Code',
       'Gearing Type',
       'Displacement',
       'Cylinders',
       'Weight',
       'Drive chain',
       'Fuel',
       'Consumption',
       'CO2 Emission',
       'Emission Class',
       '\nComfort & Convenience\n',
       '\nEntertainment & Media\n',
       '\nExtras\n',
       '\nSafety & Security\n',
       'description',
       'Emission Label',
       'Gears',
       'Country version',
       'Electricity consumption',
       'Last Service Date',
       'Other Fuel Types',
       'Availability',
       'Last Timing Belt Service Date',
       'Available from',
       'Mark'],
      dtype='object')

In [101]:
spec_chars = ["!",'"',"#","%","&","'","(",")"," ",
              "*","+",",","-","/",":",";","<",
              "=",">","?","@","[","\\","]","^",
              "`","{","|","}","~","–","\n"]

for char in spec_chars:
    df.columns = df.columns.str.replace(char, '_')

#df.columns = df.columns.str.split().str.join(" ")

<ipython-input-101-8744ff9a5916>:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace(char, '_')

## 2. yöntem column isimlerini değiştirirken:

df.rename(columns=lambda x: re.sub('(\s|/)','_', x), inplace=True)

df = df.clean_names().head()

df.keys()

In [97]:
df.columns

Index(['url',
       'make_model',
       'short_description',
       'body_type',
       'price',
       'vat',
       'km',
       'registration',
       'prev_owner',
       'kW',
       'hp',
       'Type',
       'Previous_Owners',
       'Next_Inspection',
       'Inspection_new',
       'Warranty',
       'Full_Service',
       'Non_smoking_Vehicle',
       'null',
       'Make',
       'Model',
       'Offer_Number',
       'First_Registration',
       'Body_Color',
       'Paint_Type',
       'Body_Color_Original',
       'Upholstery',
       'Body',
       'Nr._of_Doors',
       'Nr._of_Seats',
       'Model_Code',
       'Gearing_Type',
       'Displacement',
       'Cylinders',
       'Weight',
       'Drive_chain',
       'Fuel',
       'Consumption',
       'CO2_Emission',
       'Emission_Class',
       '_Comfort___Convenience_',
       '_Entertainment___Media_',
       '_Extras_',
       '_Safety___Security_',
       'description',
       'Emission_Label',
       'Gears',
       'Country_version',
       'Electricity_consumption',
       'Last_Service_Date',
       'Other_Fuel_Types',
       'Availability',
       'Last_Timing_Belt_Service_Date',
       'Available_from'],
      dtype='object')

In [105]:
df.columns = df.columns.str.lower()

In [106]:
df.columns

Index(['url',
       'make_model',
       'short_description',
       'body_type',
       'price',
       'vat',
       'km',
       'registration',
       'prev_owner',
       'kw',
       'hp',
       'type',
       'previous_owners',
       'next_inspection',
       'inspection_new',
       'warranty',
       'full_service',
       'non_smoking_vehicle',
       'null',
       'make',
       'model',
       'offer_number',
       'first_registration',
       'body_color',
       'paint_type',
       'body_color_original',
       'upholstery',
       'body',
       'nr._of_doors',
       'nr._of_seats',
       'model_code',
       'gearing_type',
       'displacement',
       'cylinders',
       'weight',
       'drive_chain',
       'fuel',
       'consumption',
       'co2_emission',
       'emission_class',
       '_comfort___convenience_',
       '_entertainment___media_',
       '_extras_',
       '_safety___security_',
       'description',
       'emission_label',
       'gears',
       'country_version',
       'electricity_consumption',
       'last_service_date',
       'other_fuel_types',
       'availability',
       'last_timing_belt_service_date',
       'available_from'],
      dtype='object')

In [108]:
df.rename(columns={"_comfort___convenience_":"comfort_convenience","_entertainment___media_":"entertainment_media","_extras_":"extras","_safety___security_":"safety_security"}, inplace=True)

In [109]:
df.columns

Index(['url',
       'make_model',
       'short_description',
       'body_type',
       'price',
       'vat',
       'km',
       'registration',
       'prev_owner',
       'kw',
       'hp',
       'type',
       'previous_owners',
       'next_inspection',
       'inspection_new',
       'warranty',
       'full_service',
       'non_smoking_vehicle',
       'null',
       'make',
       'model',
       'offer_number',
       'first_registration',
       'body_color',
       'paint_type',
       'body_color_original',
       'upholstery',
       'body',
       'nr._of_doors',
       'nr._of_seats',
       'model_code',
       'gearing_type',
       'displacement',
       'cylinders',
       'weight',
       'drive_chain',
       'fuel',
       'consumption',
       'co2_emission',
       'emission_class',
       'comfort_convenience',
       'entertainment_media',
       'extras',
       'safety_security',
       'description',
       'emission_label',
       'gears',
       'country_version',
       'electricity_consumption',
       'last_service_date',
       'other_fuel_types',
       'availability',
       'last_timing_belt_service_date',
       'available_from'],
      dtype='object')

In [363]:
#missing data

total = df.isnull().sum().sort_values(ascending=False)

percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)

missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])

missing_data.head(50)

,Total,Percent
kw,15919,1.000000
last_timing_belt_service_date,15903,0.998995
electricity_consumption,15782,0.991394
available_from,15647,0.982913
last_service_date,15353,0.964445
availability,15284,0.960111
other_fuel_types,15039,0.944720
next_inspection,12384,0.777938
inspection_new,11987,0.753000
emission_label,11934,0.749670
model_code,10941,0.687292
non_smoking_vehicle,8742,0.549155
country_version,8333,0.523463
full_service,7704,0.483950
weight,6974,0.438093
drive_chain,6858,0.430806
prev_owner,6828,0.428921
previous_owners,6640,0.417112
paint_type,5772,0.362586
cylinders,5680,0.356806
warranty,5420,0.340474
gears,4712,0.295998
vat,4513,0.283498
body_color_original,3759,0.236133
upholstery,3720,0.233683
offer_number,3175,0.199447
emission_class,3021,0.189773
extras,2962,0.186067
consumption,1906,0.119731
co2_emission,1808,0.113575
first_registration,1597,0.100320
entertainment_media,1374,0.086312
safety_security,982,0.061687
nr_of_seats,977,0.061373
comfort_convenience,920,0.057793
body_color,597,0.037502
displacement,496,0.031158
nr_of_doors,212,0.013317
body,60,0.003769
body_type,60,0.003769
short_description,46,0.002890
fuel,0,0.000000
gearing_type,0,0.000000
make_model,0,0.000000
model,0,0.000000
make,0,0.000000
description,0,0.000000
null,0,0.000000
type,0,0.000000
hp,0,0.000000

In [15]:
df['Inspection new'] = df['Inspection new'].astype('str').str.split(',', expand=True)

In [16]:
df['Inspection new'].apply(tuple).value_counts()

(n, a, n)                            11987
([, ', \, n, Y, e, s, \, n, ')        3490
(\n, Y, e, s, \n)                      362
([, ', \, n, Y, e, s, \, n, ', ])       80
Name: Inspection new, dtype: int64

In [63]:
dct = []

for i in df.loc[:, 'kW']:
    if str(i) == 'nan':
        dct.append(['Nothing_kW'])
    else:
        dct.append([i])
dct[:2]

[['Nothing_kW'], ['Nothing_kW']]

## Import Libraries and Data

In [ ]:
df_dummied.to_csv("final_scout_dummy.csv", index=False)

In [ ]:
df.to_csv("final_scout_not_dummy.csv", index=False)