In [1]:
import numpy as np

In [2]:
my_list=[5,10,15,20,25]
np.array(my_list)

array([ 5, 10, 15, 20, 25])

In [3]:
np.zeros((5,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [4]:
np.ones((4,4),dtype=int)

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

In [5]:
np.full((4,4),7)

array([[7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7],
       [7, 7, 7, 7]])

In [6]:
np.arange(2,18,2)

array([ 2,  4,  6,  8, 10, 12, 14, 16])

In [7]:
np.arange(0,25).reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [9]:
x = np.linspace(0,25,25,dtype="int",endpoint=False).reshape(5,5)
np.array(x,dtype=int)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [10]:
np.random.random((5,))

array([0.55336245, 0.19173742, 0.75498119, 0.82313824, 0.42694067])

In [11]:
np.random.randn(5,5)

array([[ 0.59922809, -0.32640693,  0.33716696,  0.36654082,  0.88121377],
       [ 3.58095148, -0.71611963,  1.71093673, -1.39922613, -1.12215911],
       [ 0.40815653, -0.21521469,  0.64759214, -1.47547192, -0.52165997],
       [ 0.43195976, -0.27368309, -0.62977615, -0.43524383,  0.27745974],
       [ 0.2562126 , -0.92407283,  0.14354525, -0.34703901, -1.21069624]])

In [12]:
np.random.randint(20, 50, size=(3,4))

array([[31, 31, 39, 34],
       [38, 44, 44, 43],
       [44, 45, 29, 27]])

In [13]:
ranarr = np.random.randint(0, 60, 48)
ranarr

array([35,  2, 22, 55, 30, 28, 20,  5, 55, 40,  3, 19, 21, 27,  4, 21, 39,
       25, 13, 24, 14,  8, 52, 46, 16, 24,  4, 40, 40, 26, 33,  5, 50, 41,
       35, 23, 26, 18,  8,  3, 30, 18, 49, 16, 37, 56, 52, 25])

In [14]:
ranarr.reshape(6,8)

array([[35,  2, 22, 55, 30, 28, 20,  5],
       [55, 40,  3, 19, 21, 27,  4, 21],
       [39, 25, 13, 24, 14,  8, 52, 46],
       [16, 24,  4, 40, 40, 26, 33,  5],
       [50, 41, 35, 23, 26, 18,  8,  3],
       [30, 18, 49, 16, 37, 56, 52, 25]])

In [17]:
ranarr.reshape(-1,8)

array([[35,  2, 22, 55, 30, 28, 20,  5],
       [55, 40,  3, 19, 21, 27,  4, 21],
       [39, 25, 13, 24, 14,  8, 52, 46],
       [16, 24,  4, 40, 40, 26, 33,  5],
       [50, 41, 35, 23, 26, 18,  8,  3],
       [30, 18, 49, 16, 37, 56, 52, 25]])

In [19]:
import numpy as np
a = np.arange(1,17).reshape(4,4)
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [20]:
a[1:3,1:3]

array([[ 6,  7],
       [10, 11]])

In [21]:
a[::,0]

array([ 1,  5,  9, 13])

In [22]:
a[1:2,::2]

array([[5, 7]])

In [23]:
a[:,2:3] = 77
a

array([[ 1,  2, 77,  4],
       [ 5,  6, 77,  8],
       [ 9, 10, 77, 12],
       [13, 14, 77, 16]])

In [24]:
satır = np.array([1,3])
sütun = np.array([0,2])
a[satır,sütun]   #a[[1,3],[0,2]]

array([ 5, 77])

In [25]:
a[1::2,0::2]

array([[ 5, 77],
       [13, 77]])

In [26]:
arr1 = a[(a<10)]
arr1

array([1, 2, 4, 5, 6, 8, 9])

In [27]:
arr2 = a[(a>12)]
arr2

array([77, 77, 77, 13, 14, 77, 16])

In [28]:
np.add(arr1,arr2)

array([78, 79, 81, 18, 20, 85, 25])

In [31]:
np.std(a)

30.004166377354995

In [33]:
np.median(a[2])

11.0

In [34]:
np.mean(a[2])

27.0

In [35]:
np.std(a[2])

28.88771365130858

In [36]:
import pandas as pd

In [38]:
df = pd.read_csv("Salaries.csv", sep=",")
df.head(5)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [40]:
df.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,148654.000000,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,74327.500000,66325.448841,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42912.857795,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,37164.250000,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,74327.500000,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,111490.750000,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

In [41]:
df.Year.value_counts(dropna=False)

2014    38123
2013    37606
2012    36766
2011    36159
Name: Year, dtype: int64

In [42]:
df.TotalPay.max()

567595.43

In [43]:
df.TotalPay.mean()

74768.321971703

In [44]:
len(df[df.TotalPay > df.TotalPay.mean()])

69489

In [45]:
df[df.EmployeeName=="ALBERT PARDINI"].TotalPayBenefits

2    335279.91
Name: TotalPayBenefits, dtype: float64

In [49]:
df[df.TotalPayBenefits==df.TotalPayBenefits.min()]["EmployeeName"]

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [50]:
df.JobTitle.unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

In [51]:
df.JobTitle.value_counts().tail(3)

DIRECTOR, HUMAN RESOURCES                 1
CHIEF DISTRICT ATTORNEY'S INVESTIGATOR    1
MENTAL HEALTH HEARING OFFICER             1
Name: JobTitle, dtype: int64

In [53]:
len(df[(df.TotalPayBenefits>df.TotalPayBenefits.mean()) & (df.Year==2012)])

20366

In [56]:
len(df[df.JobTitle.apply(lambda x: True if "manager" in x.lower() else False)])

4110

In [60]:
sal_new = df.iloc[:,[0,1,2,7,8]]
sal_new

,Id,EmployeeName,JobTitle,TotalPay,TotalPayBenefits
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,567595.43,567595.43
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),538909.28,538909.28
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),335279.91,335279.91
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,332343.61,332343.61
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",326373.19,326373.19
...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00
148650,148651,Not provided,Not provided,0.00,0.00
148651,148652,Not provided,Not provided,0.00,0.00
148652,148653,Not provided,Not provided,0.00,0.00
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",-618.13,-618.13

In [61]:
sal_new = df.loc[:,["EmployeeName","JobTitle","TotalPay","TotalPayBenefits"]]
sal_new

,EmployeeName,JobTitle,TotalPay,TotalPayBenefits
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,567595.43,567595.43
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),538909.28,538909.28
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),335279.91,335279.91
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,332343.61,332343.61
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",326373.19,326373.19
...,...,...,...,...
148649,Roy I Tillery,Custodian,0.00,0.00
148650,Not provided,Not provided,0.00,0.00
148651,Not provided,Not provided,0.00,0.00
148652,Not provided,Not provided,0.00,0.00
148653,Joe Lopez,"Counselor, Log Cabin Ranch",-618.13,-618.13

In [72]:
df[(df.TotalPayBenefits > df.TotalPayBenefits.min()) & (df.TotalPayBenefits < df.TotalPayBenefits.mean())].EmployeeName

10806            KWE LEE
10807     MIGUEL CARO JR
10808      JOANNE MORRIS
10809      LAYLA WELBORN
10810            LE BANH
               ...
148648       Leon Walker
148649     Roy I Tillery
148650      Not provided
148651      Not provided
148652      Not provided
Name: EmployeeName, Length: 75649, dtype: object